.git
.gitignore
.github
.env.local
.env.prod
.env.development
.env.test
node_modules
npm-debug.log
.next
.turbo
coverage
.jest-cache
dist
build
*.log
.DS_Store
.vscode
.idea
*.swp
*.swo
public/uploads
backups
docker/
*.md
.vercel
.editorconfig
.husky
